:root {
    --header-height: 60px;
    --page-padding: 12px;
    --page-height: calc(100vh - var(--header-height));
    --page-header-height: 50px;
    --page-body-height: calc(var(--page-height) - (var(--page-header-height) + 24px));
    --page-body-no-header-height: calc(100vh - (var(--page-height) + 24px));
    --page-width: calc(100vw - (var(--page-padding) * 2))
}